.container_12 {
    width: 100%;
    margin: 0 auto;
    background-color: rgb(240, 240, 240);
    padding: 20px;
    border-radius: 10px;
}

header {
    background-color: rgb(40, 142, 81);
    text-align: center;
    color: rgb(250, 250, 250);
    border-radius: 10px;
    font-size: 35px;
    font-family: sans-serif;
}

nav {
    align-items: center;
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

nav a {
    color: rgb(249, 241, 241);
    margin-right: 15px;
    margin-left: 15px;
    font-size:30px;
}

body {
    background-color: rgb(182, 182, 182);
}


.grid_6 {
    vertical-align: top;
    display: inline-block;
    box-sizing: border-box;
}

iframe {
    scale: 60%;
}

h2 {
    text-align: center;
}
